service-api/src/main/resources/META-INF/wsdl/Greeter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) Red Hat, Inc.
  ~ http://www.redhat.com
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<wsdl:definitions name="GreeterService"
                  targetNamespace="http://examples.fusebyexample.org/greeter"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://examples.fusebyexample.org/greeter"
                  xmlns:ns1="http://examples.fusebyexample.org/greeter"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  
  <wsdl:types>
    <xs:schema targetNamespace="http://examples.fusebyexample.org/greeter" xmlns="http://examples.fusebyexample.org/greeter" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
      <xs:element name="getGreeting" type="GetGreetingRequestType"/>
      <xs:complexType name="GetGreetingRequestType">
        <xs:sequence>
          <xs:element name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="getGreetingResponse" type="GetGreetingResponseType"/>
      <xs:complexType name="GetGreetingResponseType">
        <xs:sequence>
          <xs:element name="greeting" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="getGreeting">
    <wsdl:part element="ns1:getGreeting" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getGreetingResponse">
    <wsdl:part element="ns1:getGreetingResponse" name="parameters"/>
  </wsdl:message>

  <wsdl:portType name="Greeter"> 
    <wsdl:operation name="getGreeting">
      <wsdl:input message="tns:getGreeting" name="getGreeting"/>
      <wsdl:output message="tns:getGreetingResponse" name="getGreetingResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="GreeterServiceSoapBinding" type="tns:Greeter">
    
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="getGreeting">
        <soap:operation soapAction="" style="document"/>
        <wsdl:input name="getGreeting">
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output name="getGreetingResponse">
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <!-- maps a service binding to a service URL -->
  <wsdl:service name="GreeterService">
    <wsdl:port binding="tns:GreeterServiceSoapBinding" name="GreeterServicePort">
      <soap:address location="http://localhost:9000/Greeter/GreeterPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>